
# Cloud Posse must review any changes to GitHub actions
.github/*     @clouddrove/approvers

*     @clouddrove/clouddrovians @clouddrove/approvers

.github/mergify.yml @clouddrove/admins
.github/CODEOWNERS  @clouddrove/admins
